serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
timeout=5
set kernel_parameters=' rootwait console=ttyS0,115200 console=tty0      systemd.unified_cgroup_hierarchy=0     audit=0     slab_nomerge     pti=on     slub_debug=ZF     rootwait     rootfstype=ext4 '
default=boot
menuentry 'boot' --unrestricted{
linux /bzImage console=ttyS0,115200 console=tty0 root=/dev/vda2 $kernel_parameters {{ extra_kernel_parameters }}
}